# Dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Ambiente e Segredos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build de Produção
build/
dist/

# Editor e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Testes
coverage/

# Documentação Local
sprints.txt