# Configuração do Banco de Dados (Cluster Oficial: studiescluster)
MONGO_URI=mongodb+srv://AdminDB:AdminDB@studiescluster.hcpbk9e.mongodb.net/co2ntazero?retryWrites=true&w=majority

PORT=5000
JWT_SECRET=seu_segredo_jwt_aqui
REFRESH_TOKEN_SECRET=seu_segredo_refresh_aqui